* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

// header
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .logo {
        position: relative;
        font-size: 25px;
        color: #9C7598;
        font-weight: 600;
        text-decoration: none;
        cursor: default;
        opacity: 0;
        animation: slideRight 1s ease forwards;

        @keyframes slideRight {
            0% {
                transform: translateX(-100px);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    .navbar a {
        display: inline-block;
        font-size: 25px;
        color: #9C7598;
        font-weight: 500;
        text-decoration: none;
        margin-left: 35px;
        transition: 0.3s;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        animation-delay: calc(.2s * var(--i));

        @keyframes slideTop {
            0% {
                transform: translateY(100px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &:hover {
            color: #fff;
        }
    }
}

// home section
.home {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url('../img/bg-pf_.png') no-repeat center/cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

    .home-content {
        max-width: 600px;
        
        h1,
        h3 {
            font-size: 32px;
            font-weight: 700;
            opacity: 0;
            animation: slideBottom 1s ease forwards;
            animation-delay: .7s;

            span {
                color: #9C7598;            
            }
            &:nth-of-type(2) {
                margin-bottom: 30px;
                animation: slideTop 1s ease forwards;
                animation-delay: .7s;
            }

            @keyframes slideBottom {
                0% {
                    transform: translateY(-100px);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

        }
        h2 {
            font-size: 56px;
            font-weight: 700;
            margin: -3px 0;
            opacity: 0;
            animation: slideRight 1s ease forwards;
            animation-delay: 1s;
        }
        p {
            font-size: 20px;
            opacity: 0;
            animation: slideLeft 1s ease forwards;
            animation-delay: 1s;

            @keyframes slideLeft {
                0% {
                    transform: translateX(100px);
                    opacity: 0;
                }
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
        a {
            color: #fff;
            font-size: 18px;
        }
    }
    .home-sci a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #420532;
        border: 2px solid #420532; 
        border-radius: 50%;
        font-size: 20px;
        color: #9C7598;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: .5s ease;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(.2s * var(--i));

        &:hover {
            background: #9C7598;
            color: #fff;
            box-shadow: 0 0 5px #420532,
            0 0 25px #9C7598, 0 0 50px #9C7598,
            0 0 100px #9C7598, 0 0 200px #9C7598;
        }        
    }

    .btn-box {
        display: inline-block;
        padding: 12px 28px;
        background: #420532;
        border: 2px solid #420532;
        border-radius: 40px;
        font-size: 16px;
        color: #9C7598;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        animation-delay: .2s;
        box-shadow: 0 0 5px #9C7598,
        0 0 25px #9C7598;

        &:hover {
            background: #9C7598;
            color: #fff;
            box-shadow: 0 0 5px #9C7598,
            0 0 25px #9C7598, 0 0 50px #9C7598,
            0 0 100px #9C7598, 0 0 200px #9C7598;   
        }
    }

    // .about {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     align-items: center;
    //     gap: 1.5rem;
    
    //     .about-img img {
    //         padding-bottom: 20%;
    //         max-width: 630px;
    //         height: auto;
    //         width: 100%;
    //         border-radius: 8px;
    //         // box-shadow: 0 0 5px #9C7598,
    //         // 0 0 25px #9C7598, 0 0 50px #9C7598,
    //         // 0 0 100px #9C7598, 0 0 200px #9C7598;
    //     }
    
    //     .about-text h2 {
    //         font-size: 60px;
    
    //         span {
    //             color: #9C7598;
    //         }
    //         h4 {
    //             font-size: 29px;
    //             font-weight: 600;
    //             color: #fff;
    //             line-height: 1.7;
    //             margin: 15px 0 30px;
    //         }
    //         p {
    //             color: aliceblue;
    //             font-size: 20px;
    //             line-height: 1.4;
    //             margin-bottom: 4rem;
    //         }
    //     }
    // }
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

    .about-img img {
        padding-bottom: 20%;
        max-width: 630px;
        height: auto;
        width: 100%;
        border-radius: 8px;
        // box-shadow: 0 0 5px #9C7598,
        // 0 0 25px #9C7598, 0 0 50px #9C7598,
        // 0 0 100px #9C7598, 0 0 200px #9C7598;
    }

    .about-text h2 {
        font-size: 60px;

        span {
            color: #9C7598;
        }
        h4 {
            font-size: 29px;
            font-weight: 600;
            color: #fff;
            line-height: 1.7;
            margin: 15px 0 30px;
        }
        p {
            color: aliceblue;
            font-size: 20px;
            line-height: 1.4;
            margin-bottom: 4rem;
        }
    }
}

// skills section
#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

    .container {
        padding: 90px;
    }

    .sub-title {
        text-align: center;
        font-size: 60px;
        padding-bottom: 70px;

        span {
            color: #9C7598;
        }
    }

    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(259px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;

        div {
            background-color: transparent;
            padding: 40px;
            font-size: 13px;
            font-weight: 13px;
            border-right: 10px;
            border-radius: 20px;
            transition: background 0.5s, transform 0.5s;
            box-shadow: 1px 1px 20px #420532,
                        1px 1px 40px #9C7598;
            
            &:hover {
                transform: translateY(-10px);
            }
            
            i {
                font-size: 50px;
                margin-bottom: 30px;
            }
            h2 {
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 15px;
            }
            a {
                text-decoration: none;
                color: #9C7598;
                font-size: 12px;
                margin-top: 20px;
                display: inline-block;
            }
        }

        .read {
            display: inline-block;
            padding: 12px 28px;
            background: #420532;
            border-radius: 40px;
            font-size: 16px;
            color: #9C7598;
            letter-spacing: 1px;
            text-decoration: none;
            font-weight: 600;
            opacity: 0;
            animation: slideTop 1s ease forwards;
            animation-delay: .2s;
            box-shadow: 0 0 5px #9C7598,
            0 0 25px #9C7598;

            &:hover {
                background: #9C7598;
                color: #fff;
                box-shadow: 0 0 5px #9C7598,
                0 0 25px #9C7598, 0 0 50px #9C7598,
                0 0 100px #9C7598, 0 0 200px #9C7598;   
            }
        }        
    }
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
        width: 600px;
        height: 500px;
        padding: 75px 90px;
        margin-left: 120px;
}

.heading1 {
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 5px;
        margin-bottom: 50px;
}
    
.bar {
        font-size: 23px;
}

.technical-bars {
        .bar {
            margin-top: 40px 0;
        
            &:first-child {
                margin-top: 0;          
            }
            &:last-child {
                margin-top: 0;          
            }

            .info {
                margin-bottom: 5px;
        
                span {
                    font-size: 17px;
                    font-weight: 500;
                    animation: showText 0.5s 1s linear;
                    opacity: 0;
                }
            }
        
            .progress-line {
                position: relative;
                border-radius: 10px;
                width: 100%;
                height: 5px;
                background-color: #000;
                animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
                transform: scaleX(0);
                transform-origin: left;
            
                @keyframes animate {
                    100% {
                        transform: scaleX(1);
                    }
                }
                
                span {
                    height: 100%;
                    background-color: #9C7598;
                    position: absolute;
                    border-radius: 10px;
                    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
                    transform: scaleX(0);
                    transform-origin: left;
                }
            }           
        }
    }

    .progress-line span::after {
        position: absolute;
        padding: 1px 8px;
        background-color: #000;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
        top: -28px;
        right: -20px;
        animation: showText 0.5s 1s linear forwards;
        opacity: 0;
    }

    .progress-line.html span {
        width: 90%;

        ::after {
            content: "90%";
        }
    }
    .progress-line.css span {
        width: 80%;

        ::after {
            content: "60%";
        }
    }
    .progress-line.javascript span {
        width: 70%;

        ::after {
            content: "85%";
        }
    }
    .progress-line.react span {
        width: 60%;

        ::after {
            content: "90%";
        }
    }
    .progress-line.wordpress span {
        width: 50%;

        ::after {
            content: "90%";
        }
    }

    .progress-line span::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        top: -10%;
        right: 0;
        animation: showText 0.5s 1.5s linear forwards;
        opacity: 0;

        @keyframes showText {
            100% {
                opacity: 1;
            }
        }
    }



        
        




    


  