* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

// header
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .logo {
        position: relative;
        font-size: 25px;
        color: #9C7598;
        font-weight: 600;
        text-decoration: none;
        cursor: default;
        opacity: 0;
        animation: slideRight 1s ease forwards;

        @keyframes slideRight {
            0% {
                transform: translateX(-100px);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    .navbar a {
        display: inline-block;
        font-size: 25px;
        color: #9C7598;
        font-weight: 500;
        text-decoration: none;
        margin-left: 35px;
        transition: 0.3s;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        animation-delay: calc(.2s * var(--i));

        @keyframes slideTop {
            0% {
                transform: translateY(100px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &:hover {
            color: #fff;
        }
    }
}

// home section
.home {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url('../img/bg-pf_.png') no-repeat center/cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

    .home-content {
        max-width: 600px;
        
        h1,
        h3 {
            font-size: 32px;
            font-weight: 700;
            opacity: 0;
            animation: slideBottom 1s ease forwards;
            animation-delay: .7s;

            span {
                color: #9C7598;            
            }
            &:nth-of-type(2) {
                margin-bottom: 30px;
                animation: slideTop 1s ease forwards;
                animation-delay: .7s;
            }

            @keyframes slideBottom {
                0% {
                    transform: translateY(-100px);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

        }
        h2 {
            font-size: 56px;
            font-weight: 700;
            margin: -3px 0;
            opacity: 0;
            animation: slideRight 1s ease forwards;
            animation-delay: 1s;
        }
        p {
            font-size: 20px;
            opacity: 0;
            animation: slideLeft 1s ease forwards;
            animation-delay: 1s;

            @keyframes slideLeft {
                0% {
                    transform: translateX(100px);
                    opacity: 0;
                }
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
        a {
            color: #fff;
            font-size: 18px;
        }
    }
    .home-sci a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #420532;
        border: 2px solid #420532; 
        border-radius: 50%;
        font-size: 20px;
        color: #9C7598;
        text-decoration: none;
        margin: 30px 15px 30px 0;
        transition: .5s ease;
        opacity: 0;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(.2s * var(--i));

        &:hover {
            background: #9C7598;
            color: #fff;
            box-shadow: 0 0 5px #420532,
            0 0 25px #9C7598, 0 0 50px #9C7598,
            0 0 100px #9C7598, 0 0 200px #9C7598;
        }        
    }

    .btn-box {
        display: inline-block;
        padding: 12px 28px;
        background: #420532;
        border: 2px solid #420532;
        border-radius: 40px;
        font-size: 16px;
        color: #9C7598;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        opacity: 0;
        animation: slideTop 1s ease forwards;
        animation-delay: .2s;
        box-shadow: 0 0 5px #9C7598,
        0 0 25px #9C7598;

        &:hover {
            background: #9C7598;
            color: #fff;
            box-shadow: 0 0 5px #9C7598,
            0 0 25px #9C7598, 0 0 50px #9C7598,
            0 0 100px #9C7598, 0 0 200px #9C7598;   
        }
    }

    // .about {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     align-items: center;
    //     gap: 1.5rem;
    
    //     .about-img img {
    //         padding-bottom: 20%;
    //         max-width: 630px;
    //         height: auto;
    //         width: 100%;
    //         border-radius: 8px;
    //         // box-shadow: 0 0 5px #9C7598,
    //         // 0 0 25px #9C7598, 0 0 50px #9C7598,
    //         // 0 0 100px #9C7598, 0 0 200px #9C7598;
    //     }
    
    //     .about-text h2 {
    //         font-size: 60px;
    
    //         span {
    //             color: #9C7598;
    //         }
    //         h4 {
    //             font-size: 29px;
    //             font-weight: 600;
    //             color: #fff;
    //             line-height: 1.7;
    //             margin: 15px 0 30px;
    //         }
    //         p {
    //             color: aliceblue;
    //             font-size: 20px;
    //             line-height: 1.4;
    //             margin-bottom: 4rem;
    //         }
    //     }
    // }
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

    .about-img img {
        padding-bottom: 20%;
        max-width: 630px;
        height: auto;
        width: 100%;
        border-radius: 8px;
        // box-shadow: 0 0 5px #9C7598,
        // 0 0 25px #9C7598, 0 0 50px #9C7598,
        // 0 0 100px #9C7598, 0 0 200px #9C7598;
    }

    .about-text h2 {
        font-size: 60px;

        span {
            color: #9C7598;
        }
        h4 {
            font-size: 29px;
            font-weight: 600;
            color: #fff;
            line-height: 1.7;
            margin: 15px 0 30px;
        }
        p {
            color: aliceblue;
            font-size: 20px;
            line-height: 1.4;
            margin-bottom: 4rem;
        }
    }
}

